<div class="col-lg-10 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h4 class="card-title">Event Confirmation</h4>
    </div>

    <div class="card-body">
      <h1>Your spot has been reserved, <%= @customer.full_name%>
      </h1>
      <p class="lead">
        Your booking for <strong>
          <%=@workshop.name%> has been confirmed. Please find the booking details below.
        </strong>
      </p>
      <%=@svg.html_safe%>
    </div>
  </div>
</div>